venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/


.env

Data_extraction/Keyframes_2025/
Data_extraction/OCR/
qdrant_storage/
.gitpod.yml
.gitpod.yml
frontend/node_modules/
app/.env
frontend/.env
Data_extraction/metadata/
Data_extraction/features/
