venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/


.env

Data_extraction/Keyframes_2025/
Data_extraction/OCR/
qdrant_storage/
.gitpod.yml
.gitpod.yml
frontend/node_modules/
app/.env
frontend/.env
Data_extraction/metadata/
Data_extraction/features/
Data_extraction/index.faiss
Data_extraction/meta.db
Data_extraction/feature_new_siglip2_float32/
Data_extraction/feature_SO400_SigLip/
Data_extraction/features_siglip2/
Data_extraction/faiss_clip_14.bin
Data_extraction/faiss_clip.bin
faiss_clip.bin
Data_extraction/feature_gopt_16/
